html {
  font-family: "Comic Sans MS";
  color: rgb(15, 8, 8);
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(4, 106, 165);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
