html {
  font-family: "Roboto", sans-serif;;
  color: rgb(12, 12, 12);
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  background-color: rgb(74, 26, 138);
  position: relative;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7c/NGC_1672_HST.jpg") ;
=======
  background-image: url("../img/åsBakgrund.jpg")
>>>>>>> 977f275b704a8ff4194ffbea68c52b1642a16f7c
}



.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
position: relative;
}
.button:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
   .button {
    display: block;
    margin: 0.4em auto;
  }
}

.contact-form {
  margin: 0 auto;
  width: 400px;
  padding: 5px;
  border: 1px solid rgb(243, 247, 248);
  border-radius: 5px;
}

.input-labels {
  display: inline-block;
  width: 90px;
  text-align: left;
}

input,
textarea {
  font: 14px "Comic Sans MS";
  width: 300px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}

.intput-container {
  margin-top: 20px;
}

textarea {
  vertical-align: top;
  height: 150;
}

.input-button {
  padding-left: 20px;
  margin-left: 10px;
  float: left;
  text-align: left;
}
